@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

$body-color: #d5c9bc;
$darker-color: #b4ab91;

body {
  font-family: "Poppins", sans-serif;
  background-color: $body-color;
}

.select-style-form {
  .select-style-input-groups {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    & > .input-pair {
      flex: 1;
      max-width: 100px;
    }
    .radio-styles-input {
      display: none;
      &:checked + label {
        background-color: $darker-color;
      }
    }
    .radio-styles-label {
      background-color: white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 1em;
      padding: 1.2em 0.5em;
      border: solid silver 1px;
      border-radius: 0.3em;
      vertical-align: middle;
      &:hover {
        filter: brightness(0.95);
        cursor: pointer;
      }
    }
  }
}

.auto-read-write-clipboard-label {
  font-size: 0.8rem;
}

.textareas {
  textarea {
    height: 110px;
  }
  .textarea2-btn-cont {
    position: relative;
    .copy-to-clipboard-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      opacity: 0.5;
      border-radius: 0.3em;
      i {
        font-size: 2em;
      }
    }
  }
}
//increase height of textareas
@media (min-width: 576px) {
  .textareas {
    textarea {
      height: 300px;
    }
  }
}
//make both textareas the same width
@media (min-width: 768px) {
  .textareas {
    & > * {
      width: 50%;
    }
  }
}
